@font-face {
    font-family: 'Karla';
    font-style: normal;
    font-weight: 400;
    src: url(./karla_regular.ttf) format('truetype');
  }
  @font-face {
    font-family: 'Karla';
    font-style: normal;
    font-weight: 700;
    src: url(./karla_bold.ttf) format('truetype');
  }
  