<header id='page-header' class='Page-header'>
    <div class='Page-header__left-block'>
        <a href='/'>
            <img src='/static/dist/img/shield.svg' />
        </a>
        <a href="/blog" class="site-title">
            <div>kr blog</div>
        </a>
    </div>
    <div class='Page-header__right-block'>
        <div class='Page-header__overlay'></div>
        <div class='Page-header__menu-button Hamburger-button'></div>
        <div class='Page-header__links'>
            <a href='/' class='Page-header__links__link'>Krypton Core</a>
            <a href='/faq/' class='Page-header__links__link'>FAQ</a>
            <a class="Page-header__links__link download" href="/">
                Install Krypton
            </a>	
        </div>
    </div>
</header>