
#breaking-news {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 1em;
    background: #4b63f0;
    color: white;
    font-weight: bold;

    span {
        width: 100%;
        display: flex;
    }
    a {
        color: white;
        font-size: 1em;
        letter-spacing: 0.5px;
        margin: auto;
        border-bottom: 1px solid white;
    }
    a:hover {
        border-bottom: 1px solid white;
        opacity: 0.5;
    }
    img {
        max-width: 60em;
    }
    main {
        color: #2c2c2c;
        border-radius: 20px !important;
        padding: 2em !important;

        img {
            height: 50% !important;
            width: 50% !important;
        }
    }
}

#breaking-news-home {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 2em;
    background: #4b63f0;
    font-weight: bold;

    span {
        width: 100%;
        display: flex;
    }
    a {
        color: white;
        font-size: 1em;
        letter-spacing: 0.5px;
        margin: auto;
        border-bottom: 1px solid white;
    }
    a:hover {
        border-bottom: 1px solid white;
        opacity: 0.5;
    }

    main {
        border-radius: 20px !important;
        padding: 2em !important;

        img {
            width: 70% !important;
            margin: auto;
        }

        #announce-button {
            outline: 0;
            font-weight: 700;
            margin: auto;
            line-height: 1em;
            position: relative;
            display: inline-block;
            padding: 1em 2.5em;
            background: #f1f1f1;
            color: #2c2c2c;
            border: none;
            width: 100%;
            cursor: pointer;
            border-radius: 4px;
        }

        #announce-button:hover {
            opacity: 0.5;
        }
    }
}
.Page-header {
    @include display(flex);
    @include justify-content(space-between);
    @include align-items(center);
    padding: 1em 1em; 
       
    a {
        border-bottom: none;
    }

    &__left-block {
        height: 3em;
        position: relative;

        @media (max-width: 58em) {
          left: calc(50vw - 1em - 56px);
        }

        img {
            height: 3em;
        }
    }

    &__right-block {
        @include display(flex);
        @include justify-content(space-between);
        @include align-items(center);

        .Page-header__links {
            position: relative;
            z-index: 13;

            &__link {
                color: $c-gray-dark;
                font-weight: bold;
                font-size: 1.2em;
                &--active {
                    color: $c-link-color;
                }

                margin: 0em 1em;
            }

            &__link:hover {
                color: $c-green-accent;
            }
        
            .download {
                -webkit-box-shadow: 0 0 6px 0px rgba(119, 119, 119, 0.38);
                box-shadow: 0 0 6px 0px rgba(119, 119, 119, 0.38);
        
                text-align: center;
                background-color: #343434;
                border-radius: calc((1.6em + 1em));
                cursor: pointer;
        
                user-select: none; 
                padding: 0.8em;
                font-family: "Montserrat";
                text-transform: uppercase;
                font-weight: 800;
                color: #fff;
                font-size: 1em;

                @media (max-width: 58em) {
                    margin-left: auto;
                  }
          
            }
        
            .download:hover {
                background: #000;
                transform: scale3d(1,1,1);
            }
        
            .download:focus, .download:active {
                transform: scale3d(0.9,0.98,1);
            }
        }

        .Page-header__new  {
            border-radius: 4px;
            background-color: #506DF0;
            margin-left: 10px;
            color: white;
            padding: 5px;
            font-weight: 700;
            vertical-align: middle;
            text-align: center;
            font-size: 0.8em;
        }

        .Page-header__new:hover {
            background-color: $c-green-accent;
        }

        .Page-header__menu-button {
            display: none;
            position: relative;
            z-index: 13;
        }

        .Page-header__download-app-button {
            margin-left: 2em;
        }

        .Page-header__overlay {
            @include position(absolute, 0 null null 0);
            @include size(100vw 100vh);
            z-index: 11;
            opacity: 0;
            pointer-events: none;
            background: rgba(black, 0.7);
            @include transition(0.3s linear);
        }
        $s-menu-width: 15em;

        &:after, &:before {
            content: '';
            @include position(absolute, 0 0 null null);
            @include size($s-menu-width 100vh);
            z-index: 12;
            opacity: 1;
            background: #efefef;
            @include transform(translateX($s-menu-width));
            @include transition(all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1));
        }
        &:after {
            background: $c-white;
            right: -0.5em;
        }
        &:before {
            opacity: 0;
            @include transition(all 0.38s cubic-bezier(0.645, 0.045, 0.355, 1));
        }

        @media (max-width: 58em) {

            .Page-header__menu-button {
                display: block;
            }
            .Page-header__links {
                opacity: 0;
                font-size: 1.2em;
                @include display(flex);
                @include flex-direction(column);
                @include position(absolute, 5em 1em null null);
                text-align: right;

                @include transform(translateX($s-menu-width));
                @include transition(all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1));

                &__link {
                    margin: 1em 0;
                }
            }

            &.open {
                .Page-header__overlay {
                    display: block;
                    opacity: 1;
                    pointer-events: all;
                }
                &:after, &:before {
                    display: initial;
                    opacity: 1;
                    @include transform(translateX(0));
                }
                .Page-header__links {
                    opacity: 1;
                    @include transform(translateX(0));
                }
            }
        }
    }

    @media (max-width: 50em) {
        // @include justify-content(center);
        justify-content: none;
    }


}

.badge1 {
    position:relative;
 }
 .badge1[data-badge]:after {
    content:attr(data-badge);
    position:absolute;
    bottom: 20px;
    left: 0px;
    font-size:.5em;
    background: $c-green-accent;
    color:white;
    height:1em;
    text-align:center;
    line-height:1em;
    border-radius:2px;
    padding: 2px;
    box-shadow:0 0 1px #343;
    font-weight: bold;
    font-family: 'Montserrat';
    // transform: rotate(24deg);
 }
