#page-wrapper.Page-about {
    .wrap {

    }

    section {
        max-width: 40em;
        padding: 0 1em;
        margin: 0 auto;
    }

    .Section--about-us {
        margin-top: 6em;
    }
    .Section--team {
        margin-top: 6em;
    }
    .Section--advisors {
        margin-top: 6em;
    }
    .Section--contact-us {
        margin-top: 6em;
    }

    
}

#hiring-link {
    color: #506DF0;
}

#hiring-link:hover {
    color: $c-green-accent;
}