$c-light-gray: #E9E9E9;

$c-lightgreen: #11c56f;
$c-orange: #f98f18;
$c-pink: #f71871;
$c-blue: #2e81ef;
$c-purple: #4d00ff;

body {

}
span.for-teams {
    border-bottom: 2px solid $c-green-accent;
}

.for {
    font-weight: 300;
    color: #343434;
}

.emph {
    font-weight: bold;
}
.teams-title {
    margin-top: 3em;
    color: $c-green-accent;
    font-weight: bold;
    font-size: 1.25em;
    margin-bottom: 0;
}

.Section--hero--teams {
    @extend .Section;
    @include display(flex);
    @include flex-direction(column);
    @include align-items(center);
    margin-top: 5em;

    .CTA {
        
        margin-bottom: 3em;
        background-color: #343434;
    }

    h1 {

        padding: 0;
        margin: 0;
        margin-bottom: 0.5em;
        max-width: 25em;
        text-align: left;
    
        font-size: 2.6em;
    }

    h2 {
        font-weight: 300;
        margin-bottom: 1.5em;
        margin-top: 0;
        font-size: 1.4em;
        max-width: 30em;
        text-align: center;
        .green-emph {
            font-weight: 600;
            font-size: 1em;
        }
    }

}


.audit-demo {
    margin: auto;
    margin-bottom: 2em;
    max-width: 100% !important;
    width: 100%;
    background: $c-lightgreen;

    .title {
        text-align: center;
    }

    @media (max-width: 1100px) {
        width: unset;
        max-width: unset !important;
        margin-right: 1em !important;
    }
}

.live-demo {
    display: flex;
    flex-direction: column;
    margin: auto;
    padding-left: 8em;
    padding-right: 8em;
    padding-top: 2em;
}

// .live-demo:active {
//     opacity: 0.8;
// }

.live-demo {
     a {
        color: #fff;
        border: none;
    }

    a:hover {
        border-color: #fff;
    }
}

.live-demo-bttn {
    margin:auto;
    margin-top: -1em;
    padding: 0.5em;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1.2em !important;
    font-family: "Montserrat" !important;;
    border-bottom: none !important;
    text-decoration-style: solid;
    color: #fff !important;
    font-size: 1em;

    z-index: 2;
}

.live-demo-bttn:hover {
    opacity: 0.8;
}

.tile-group-h {
    width: 100%;
    display: flex;
    flex-direction: row;
   
    p {
        color: #fff;
    }

    @media (max-width: 1100px) {
        flex-direction: column;
    }
}

.tile-group-w {
     
    width: 100%;
    p {
        color: #fff;
    }

    @media (max-width: 1100px) {
    }
}

.tiles {
    .teams {
        background-color: $c-purple !important;
        margin-right: 0 !important;

        .source-code {
            text-align: center !important;
        }

        .link {
            margin: unset !important;
            text-align: left !important;

            a {
                margin-right: 0.5em !important;
            }
        }

    }
    .tile {
        .logo {
            display: flex;
            margin: auto;
            width: 6em;
            height: 6em;

            img {
                width: 100%;
                height: 100%;
    
            }

            .terminal-icon {
                width: 4.8em;
                height: 4.8em;
                border-radius: 50%;
                background: transparent;
                border: .15em solid #fff;
                margin: auto;
            }
            .terminal-icon:before {
                content: '>_';
                position: relative;
                font-size: 2.6em;
                text-align: center;
                font-family: "Source Code Pro";
                color: #fff;
                font-weight: bold;
                letter-spacing: -5px;

                left: 14px;
                top: 18px;
            }
        }
    }
    .features  {
        width: 100%;
        max-width: 100% !important;
        margin-right: 0;

        @media (max-width: 1100px) {
            width: unset;
            max-width: unset !important;
            margin-right: 1em !important;
        }
    
        .points {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-gap: 2em;
            max-width: 100% !important;

            @media (max-width: 1100px) {
                grid-template-columns: repeat(2, 1fr);
            }
        
            .point {
                img {
                    display:block;                
                    margin: auto;
                    text-align: center;
                }
                h3 {
                    font-size: 1.2em;
                    text-align: center;
                }
                p {
                    color: #343434 !important;
                    font-family: "Montserrat" !important;
                    font-weight: 300 ;
                    text-align: center;
                     a {
                         font-weight: 400;
                     }
                }    
            }
            
        }    
    }
}


.description {
    color: #fff;

    a {
        color: #fff;
    }

    a:hover {
        border-color: #fff;
    }
}
.ssh {
    background: $c-blue;
    
    @media (max-width: 1100px) {
        max-width: unset !important;
        margin-right: 1em !important;
    }

    .description {
        color: #fff;

        a {
            color: #fff;
        }
    }
}
.phishing-teams {
    background: $c-pink;
    margin-right: 0 !important;

    @media (max-width: 1100px) {
        max-width: unset !important;
        margin-right: 1em !important;
    }
}

.feature-icon {
    margin-bottom: 1em;
    margin-left: auto;
    margin-right: auto;
    display: block;    
    height: auto;
    width: 3em;

    @media (max-width: 60em) {
        margin-top: 1em;
    }
}

.sigchain {
    width: 6em;
    padding-top: 1em;
    padding-bottom: 0.42em;
}

.arrow {
    color: #343434;
    padding-right: 0.5em;
}

.dashboard video {
    box-shadow: 0 0 0.75em rgba(54,54,54,.25);
    border-radius: 4px;
}



.feature-media img {
    border-radius: 0.5em;
    box-shadow: 0 0 0.75em rgba(54,54,54,.1);
}
.media-image {
    width: 100%;
    height: auto;
}

.alt .learn-more {
    color: $c-green-accent;
}
.learn-more {
}

.learn-more:hover {
    border-bottom: 2px dotted $c-green-accent;
}

.alt .learn-more:hover {
    border-bottom: 2px dotted $c-green-accent;
}

.explore {
    margin-top: 3em;
    margin-bottom: 3em;
    .sep {
        margin-top: 1em;
        height: 2px;
    }
    .title {
        margin-top: 1em;
        font-family: 'Montserrat';
        font-weight: bold;
        text-align: center;
        text-transform: uppercase;
        font-size: 1.8em;
    }

    ul {
        list-style-type: none;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }

    li {
        box-shadow: 0 0 0.75em rgba(54,54,54,.1);
        text-align: center;
        border-radius: 0.75em;
        line-height: 1em;
        font-size: 1em;
        margin: 0.5em;
        padding: 0.5em;
        font-weight: 600;
        font-family: 'Source Code Pro';
        border: 1px solid $c-green-accent;
        background: linear-gradient(to right bottom, #2f3441 50%, #212531 50%);
        color: white;
        cursor: pointer;
        user-select: none;
    }

    li:active {
        transform: scale(1.05);        
    }
}

.teams-get-started {
    .title {
        font-family: 'Montserrat';
        font-weight: bold;
        font-size: 2.4em;
    }
}

.team-grab {
    width: 20em;
    height: auto;
}

.iterm {
    border-radius: 4px;
    background: #343434;
    display: block;
    overflow: hidden;
    box-shadow: 0 0 0.75em rgba(54,54,54,.35);
    animation:
    hide-view 16s step-end infinite;
    font-size: 0.8em;

    @media (max-width: 60em) {
        width: auto;
    }

    .green {
        color: $c-green-accent;
    }

    .yellow {
        color: #fcdf61;
    }

    .dots {
        display: flex;
        padding-left: 0.5em;
        padding-top: 0.5em;

        .dot {
            box-shadow: 0 0 0.75em rgba(39, 35, 35, 0.25);
            display: inline-flex;
            margin: .25em;
            border-radius: 50%;
            height: .7em;
            width: .7em;
            background: #696b6a;
        }
    }

    .line {
        margin-top: 0em;
        padding-left: 0.75em;
        font-family: "Source Code Pro";
        font-weight: 600;
        font-size: 1em;
        color: white; 
        display: inline-block;
        margin-bottom: 0;

        .bang {
            color: $c-green-accent;
            font-weight: 900;
            padding-right: 0.5em;
            width: 1em;
        }

        p {
            font-family: "Source Code Pro";
            font-weight: 600;
            margin-bottom: 0 !important;
            border-right: .3em solid transparent;

            width: auto;
            overflow: hidden;
            white-space: nowrap;
            padding-right: 0.25em;
    
            animation: 
            show-caret 8s step-start infinite,
            typing 8s steps(30, end) infinite; // 2s, then pause 6s
        }   
            
        /* The typing effect */
        @keyframes typing { 
            0% { width: 1em }
            25% {  width: 100%;}
            100% {  }
        }
    }

    .result {
        visibility: hidden;
        padding-left: 0.75em;
        font-size: 1em;   
        animation: 
        show-result 8s step-end infinite; // show after 2.1s, pause for 6s

        p {
            margin: 0;
            font-family: "Source Code Pro";
            font-weight: 400;    
            color: white;      
            padding: 0; 
            margin: 0 !important;             
        }   
    }

    .new-line {
        visibility: hidden;
        animation:
        show-result 8s step-end infinite;

        .bang {
            padding-right: 0.25em;
        }
        p {
            border-right: .3em solid $c-green-accent;
            animation: blink-caret 1s step-end infinite;
        }
    }
}

@keyframes show-result {
    0% {}
    35% { visibility: visible; }
    100% { visibility: visible; }
}

@keyframes blink-caret {
    from, to {  border-color: $c-green-accent }
    50% { border-color: transparent }
}   

@keyframes show-caret {
    0% { border-color: transparent }
    25% {border-color: $c-green-accent}
    100% {  border-color: transparent }
}   

@keyframes hide-view {
    0% {height: 22em; opacity: 1;}
    50% {height: 0; opacity: 0;}
    100% { }
}   

// sequential demos

.iterm:nth-child(2) {
    animation: 
    next-animation 16s step-end infinite;

    @keyframes next-animation {
        0% { height: 0; opacity: 0;}
        50% {  height: 22em; opacity: 1; }
    }       
}

.host-pin {
    display: flex;
    justify-content: space-between;
    padding-top: 3em;
    padding-bottom: 3em;

    .iterm {
        margin-top: auto;
        height: 18em;

        text-align: left;
        animation: none !important;
        width: 40em;
        p {
            animation:
            show-caret 6s step-start infinite,
            typing 5s steps(30, end) infinite; // 2s, then pause 6s
        }
    }

    .line {
        display: inline-block;
    }
    .new-line {
        display: inline-block;        
        animation:
        show-result 6s step-end infinite;

        p {
            border-color: $c-green-accent;
        }
    }

    display: inline-flex;
}


.phone-demo {
    width: 13em;
    position: relative;
    overflow: hidden;
    width: 20em;
    height: 15em;
    
    img {
        width: 20em;
        height: auto;
        position: absolute;
        top: 0em;
        left: -0.9em;
        border-radius: 0 !important;
        box-shadow: 0 0 0.75em rgba(54,54,54,0) !important;    
        clip: rect(0,25em,16em,0);
    }

    video {
        width: 14.7em;
        position: absolute;
        top: 2.2em;
        left: 1.6em;
            // clip-path: inset(0 0 7.125em 0);
    }
}

.sigchain-demo {
    box-shadow: 0 0 0.75em rgba(54,54,54,.25);
    border-radius: 4px;
}
.core-demo {
    // overflow: hidden;
    // -webkit-clip-path: inset(47px 0 0 0);
    // clip-path: inset(47px 0 0 0);
    // top: -60px;
    // position: relative;
    

    @media (max-width: 60em) {
        clip-path: none;
        overflow: visible;
        top: 2em;
    }
}