#page-wrapper.Page-why_kryptonite {
    .wrap {

    }

    section {
        max-width: 45em;
        padding: 0 1em;
        margin: 0 auto;
    }

    .Section--why-kryptonite {
        margin-top: 2em;
		font-size: 13pt;
    }

	.kr {
		font-size: 20pt;
		color: #5BC894;
	}
}
