/** Container **/
.container {
    margin: auto;
}
.row {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
}

#navigation {
    grid-column: span 2;
    padding: 0;
    margin: 0;
    margin-left: 30px;
    padding-right: 10px;
    border-right: 1px solid #c2c2c217;
}
h1 {
    font-family: "Karla";
}
#content {
    font-family: "Karla";
    grid-column: span 8;
    margin-right: 20px;
    max-width: 800px;
    padding-left: 50px;
}

#footer {
    margin-bottom: 100px;

    font-size: 0.85em;
    color: #999;
    text-align: center;
}
/** body **/
body {
    font-family: "Montserrat";    
    float: left;
    width: 100%;
}

hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #eee;    
}

a:hover {
    text-decoration: none;
}
.highlight {
    border: none;    
    border-radius: 4px;
    background-color: #343434; 
    font-size: 14px;
    margin-bottom: 40px;    
}

.img-responsive {
    margin-top: 40px;
    margin-bottom: 40px;
}

.img-responsive {
    display: block;
    max-width: 100%;
    height: auto;
}

img {
    vertical-align: middle;
}

img {
    border: 0;
}

pre {
    padding: 10px;
    overflow-x: scroll;
}
pre code table {
    white-space: pre-wrap;
    word-wrap: break-word;
}

.img-responsive {
    margin-top: 40px;
    margin-bottom: 40px;
}

.site-header {
    margin-top: 40px;
    margin-left: 10px;
    margin-bottom: 0px;   
    visibility: hidden; 
}
.site-header a {
    font-size: 1.2em;
    margin-left: 20px;
    /* color: #343434 !important; */
}
pre code {
    overflow: auto;
    white-space: pre;
}

.highlight pre {
    overflow-x: auto;
}

code {
    overflow-x: auto;

    background-color: transparent; 
    color: #343434;
    font-weight: bold;
    font-family: "Source Code Pro";
}

.contribute {
    vertical-align: top;    
    margin-top: 0;
}
.contribute img {
    width: 20px;
    height: 20px;
}
.contribute a {
    text-decoration: underline;
    color: #343434;
    font-weight: bold;
    font-size: 14px;
}
.contribute a:hover {
    text-decoration: underline;
    color: #5bc894;
    font-weight: bold;
    font-size: 14px;
}


  
#header a:hover {
    text-decoration: none;
}



#content > .page-header:first-child {
    margin-top: 0;
}

#content > .page-header:first-child h2 {
    margin-top: 0;
}

blockquote {
    background: #f9f9f9;
    border-left: 10px solid #5bc894;
    margin: 1.5em 0px;
    padding: 6px 10px;
  }  


body.rtl {
	direction: rtl;
}

body.rtl #header .brand {
	float: right;
    margin-left: 5px;
}
body.rtl .row-fluid [class*="span"] {
	float: right !important;
	margin-left: 0;
    margin-right: 2.564102564102564%;
    margin-bottom: 20px;
}
body.rtl .row-fluid [class*="span"]:first-child {
	margin-right: 0;
}

body.rtl ul, body.rtl ol {
    margin: 0 25px 10px 0;
}

p {
    margin-top: 10px;
    line-height: 1.5em;
    margin-bottom: 10px;
}

ul {
    margin-bottom: 20px;
}
li {
    font-weight: normal;
}

.img-phone {
    max-height: 500px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

/* Caption */
.img-phone + em {
    display: block;
    text-align: center;
}

/** index.md **/
#start-page {
    text-align: center;
    margin-top: 40px;
}

#start-page {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    
}

#start-page img {
    text-align: center;
    border-radius: 20%;
    box-shadow: 0px 0px 8px #3636362f;
    width: 7em;
    height: 7em;
    padding: 10px;
    margin: 0 auto;
}
.cell {
    grid-column: span 1;
}
.cell-text {
    padding-top: 8px;
}


/** Contribute Footer **/
#contribute img {
    width: 2em;
    height: 2em;  
    display: inline;
    vertical-align: middle;
    padding-bottom: 2px;
}
#contribute a:hover {
    text-decoration: underline;    
}

#contribute hr { 
    height: 1px; 
    width: 10em;
    background-color: #5bc894;
    
}