<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{ page.title }}</title>

    @@include("static/src/html_head.html")             
    <link rel="stylesheet" href="{{ site.baseurl }}/css/syntax.css"> 
</head>

<body class="blog-site">
    @@include("static/src/header.html")                          

    <main class="blog-page">
        <h1 class="title">{{ page.title }}</h2>
        <div class="date">Published on {{ page.when }}</div>
        <div class="content">
            {{ content }}                            
        </div>
        <div class="more-posts">
            <div class="header">
                Read more posts:
            </div>
            {% assign sorted = site.posts | sort:"date" %}
            {% for thepage in sorted reversed %}
                {% if thepage.title != page.title %}
                    <div class="simple-post">
                        <a href="{{ site.baseurl }}{{ thepage.url }}">{{ thepage.title }}</a>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </main>
    
    @@include("static/src/footer.html")                          
    @@include("static/src/body_tail.html")                                                          
</body>
</html>
