<!DOCTYPE html>
<html lang="en">
<head>         
    {% include head_meta.html %}
    @@include("static/src/head_fixed.html")   

    {% if page.image %}
        <meta property='og:image' content='https://krypt.co/static/dist/img/{{page.image}}'>
        <meta property='twitter:image' content='https://krypt.co/static/dist/img/{{page.image}}'>    
    {% else %}
        <meta property='og:image' content='https://krypt.co/static/dist/img/krypton_example.png'>
        <meta property='twitter:image' content='https://krypt.co/static/dist/img/krypton_example.png'>
    {% endif %}

    <link rel="stylesheet" href="{{ site.baseurl }}/css/syntax.css"> 
</head>

<body class="blog-site">
    @@include("static/src/header.html")                          

    <main class="blog-page">
        <h1 class="title">{{ page.title }}</h2>
        <div class="date">Published on {{ page.when }}</div>
        <div class="content">
            {{ content }}                            
        </div>
        <div class="more-posts">
            <div class="header">
                Read more posts:
            </div>
            {% assign sorted = site.posts | sort:"date" %}
            {% for thepage in sorted reversed %}
                {% if thepage.title != page.title %}
                    <div class="simple-post">
                        <a href="{{ site.baseurl }}{{ thepage.url }}">{{ thepage.title }}</a>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </main>
    
    @@include("static/src/footer.html")                          
    @@include("static/src/body_tail.html")                                                          
</body>
</html>
