<div class="nav">
        
    <!-- ARTICLE CATEGORIES -->
    <ul>
        <li>
            <!-- OTHER RESOURCES -->
            <label for="list-item-misc" class="nav-header">Open Positions</label>        
            <ul class="page-list">
                <li>
                    <a href="#platform-engineer">Platform Engineer</a>
                </li>    
                <li>
                    <a href="#ux-engineer">UX Engineer</a>
                </li>
                <li>
                    <a href="#iosandroid-engineer">iOS/Android Engineer</a>
                </li>    
                        </ul>
        </li>
    </ul>

    
</div>
